/* App.css */

/* Custom Navbar Styling */
.navbar-custom {
  background-color: #6c8baa;
  padding: 10px;
  margin-bottom: 20px;
}

/* Link Styling */
.navbar-custom a {
  margin-right: 8px; /* Reduced spacing */
  text-decoration: none;
  color: black;
}

.navbar-custom a:hover {
  text-decoration: underline;
  color: blue;
}
